{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"],
  "packages/*/src/**/*.{ts,tsx,json}": ["prettier --write", "eslint --fix"],
  "*.{cjs,mjs}": ["prettier --write", "eslint --fix"]
}