{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
        "importOrder": [
          "^(react/(.*)$)|^(react$)",
          "^(@redux-ai/(.*)$)",
          "<THIRD_PARTY_MODULES>",
          "",
          "^@/(.*)$",
          "^[./]"
        ],
        "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
      }
    }
  ]
}